<div class="new-vent">
  <%= form_for @vent do |f| %>
      <div class="form-vent-name">
        <%= f.text_field :name, class: "vent-text-field", placeholder: "Enter Name" %>
      </div>
        <%= f.fields_for :taggings do |taggings_form| %>
          <div class="form-vent-taggings">
            <%= taggings_form.text_field :tags, class: "vent-text-field", placeholder: "Enter A Tag (ie. Mad)" %>
          </div>
        <% end %>
      <div class="form-vent-body">
        <%= f.text_area :body, class: "vent-text-area", placeholder: "Enter your vent here...", rows: 5 %>
      </div>
    <%= f.submit "Vent It!", class: "form-vent-submit-button"%>
  <% end %>
</div>
