<div class="new-vent">
  <%= form_for @vent do |f| %>
    <div class="vent-name">
      <%= f.text_field :name, :class => "vent-text-field", :placeholder => "Enter Name" %>
    </div>
    <div class="vent-mood">
      <%= f.text_field :mood, :class => "vent-text-field", :placeholder => "Add Tag (ie. My Boss)" %>
    </div>
    <div class="vent-body">
      <%= f.text_area :body, :class => "vent-text-area", :placeholder => "Enter your Vent here..." %>
    </div>
    <%= f.submit "Vent It!", :class => "vent-submit-button" %>
  <% end %>
</div>
