<div class="vent-index">
  <h2>
    Vent.it is the best place to speak your mind<br>
    and talk with others about what's on theirs!<br><br>
    Need to vent? Let the therapy begin!
  </h2>
  <%= render 'form' %>
</div>

<div class="now-venting">
  <h2> NOW VENTING </h2>

  <% @vents.each do |vent| %>
    <p><%= vent.name %></p>
    <p><%= vent.body %></p>
    <p><%= vent.mood %></p>
    <%= link_to "Add / View Responses", vent_path(vent) %>
  <% end %>
</div>
