<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="vent-name">
  <h2><%= @vent.name %> said...</h2>
</div>

<div class="vent-body">
  <p>"<%= @vent.body %>"</p>
</div>

<%= link_to "Edit Vent", edit_vent_path(@vent) %>
<%= link_to "Delete Vent", vent_path(@vent), method: :delete %>

<div class="read-responses">
  <h3>Read Responses</h3>

  <% @vent.responses.each do |response| %>
    <p><%= response.name %> responded with...</p>
    <div class="response-body"><%= response.body %></div>
    <%= link_to "Edit / Delete Response", edit_vent_response_path(@vent, response) %>
  <% end %>
</div>

<div class="response-form">
  <h3>Add Response</h3>
  <%= render '/responses/form' %>
</div>
